<div class="col-md-12">
  <div class="group">
    <%= link_to("New house", new_house_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "house_item", :collection => @houses, :as => :house %>
    </tbody>
  </table>
</div>
