<div class="col-xs-12 col-sm-9">
  <div class="row">
    <% @todo_lists.each do |todo_list| %>
    <h2><%= link_to todo_list.title, todo_list %></h2>
    <p><%= todo_list.description %></p>
    <% end %>
  </div>
  <a>
    <%= link_to('New Todo List', new_todo_list_path, class: "btn btn-default") %>
  </a>
</div>
