<div class="starter-template">
  <h1>JJD三期建设.信息管理系统</h1>
  <p>房间列表：房间编号以及房间说明</p>
  <p>户型列表：户型编号，户型图，配套电器</p>
  <p>1、户型资料，category中添加一个栏位，其中包括户型面积，价格，木地板面积，水磨石面积，把现在图纸上上有的都落上</p>
  <p>2、统计木地板面积出错</p>
  <p>统计地暖面积出错了，两种型号</p>
  <p>统计燃气灶数量出错了，两种型号</p>
  <p>避免错误，提高工作效率，编写成程序解决</p>
  <p>我们对图纸不熟悉就会导致决策的失误，但这种统计会由于设计变更，以及自己的马虎而出错。
一对多，一个户型有多个房间</p>
  <p>每个户型的配套设施一样，电器、暖气、地板等，所以，然后根据每个户型拥有的房间数进行综合统计。</p>
</div>
