<div class="jumbotron">
  <h2 class="title">JJD三期建设.信息管理系统</h2>
  <p class="slogan">
    方便工程经理快速作出决策,
    流程化、标准化
    <br>
    ye
  </p>
  <p class="lead">
    <a class="btn btn-lg btn-danger" href="/">
      Go
    </a>
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>一：基本信息</h4>
      <p>总价：36-82万/套</p>
      <p>面积：40-87平方</p>
      <p>地址：苏州市昆山市锦溪镇计家墩村</p>
      <p>交房：一二期 2018.8   三期 2019.2</p>
      <p>装修情况：精装</p>
      <p>咨询电话：17306170811</p>
    <h4>二：户型介绍</h4>
      <p>昆山计家墩微民宿3期共6栋楼，分别有8、6、6、8、6、4套房可出售；</p>
      <p>
        2，3，5#楼：
        一层 建筑面积55平（北庭院，滨水码头，赠送榻榻米面积3平方）；
        二层 建筑面积51平（带露台）；
        三层 建筑面积40平（带露台）;
        <br>
        1，4#楼：
        一层 建筑面积52平（庭院&亲水码头）；
        二层 建筑面积52平（带露台）；
        三层 建筑面积83平（带露台）;
        <br>
        6#楼：
        一层 建筑面积55平（北庭院，滨水码头，赠送榻榻米面积3平方）；
        二层 建筑面积87平（带露台和阁楼）;
      </p>
      <p>微民宿精装交付，20年的使用期限，平均2.2-2.5万/年;</p>
    <h4>三：托管机制</h4>
      <p>微民宿首创的联合运营模式，是首先满足民宿主人的乡居生活，我们的联合运营方案不会像其他旅游地产项目严格限制业主的入住次数和时间，我们首选欢迎业主有“伴城伴乡的生活方式”，用一间民宿回乡抒发诗情画意；
        同时我们的微民宿运营也是针对目前民宿市场的“同质化”“缺乏温度”而设计的方案，让每一间民宿因为有主人，而有特质性，可能是审美带来软装上的各项化差异、可能是主人的兴趣在房价留下的交互，也有可能是热心的微民宿主人在微民宿里的生活…
        为了让情怀落地，我们强大的原舍运营团队，将提供专业的保洁、布草、营销等等细琐的热情服务。同时分成比例上，微民宿业主获得大部分利润。
      </p>
    <h4>四：项目介绍</h4>
      <p>计家墩理想村——中国式羊角村
        计家墩村是一个位于江苏昆山的典型江南小村落，位于锦溪镇南部，西至陈墓荡，村东锦商公路南北而过，南与青浦商塌一河相望。
        全村由二个自然村合并构成，所辖区1.2平方千米。
        坐落在淀山湖与锦溪古镇之间，两三条河道穿村而过，被一片片田野包围着，麦田与稻田随时间的步伐交替点缀着这座安静的村庄。
      </p>

      <p>计家墩村是以民宿业态为带动引擎，整合文化商业、主题餐饮、休闲体验、有机农业等多元文旅休闲业态而形成的文旅业态集群。
        这里的田园乡村建设，突出生态底色、文化底蕴，大力改善乡村居民环境，推动乡村产业与文化融合发展。
        目前形式各异的创意搭台、民宿集群、新型业态生根于此，计家墩正在以“乡村+民宿”“乡村+文创”等1+X的方式焕发出新的生机。
        如今的计家墩村已经有了很多知名的品牌民宿，像原舍、大乐之野、溪地清舍、不如闲居、呆不住、无象·归原，树果， 一时半等等，还有爿木工坊、陶庐、船艇工作室、自然农场等丰富的生活场景，并且引入微民宿，招募新村民，共建新社区的模式，让热爱乡村的志向人群，踏上回归田园生活的捷径上，再寻梦想。
      </p>

  </div>
  <div class="col-lg-6">
    <h4>ToDoLists：</h4>
      <p>1、户型，HouseType中包含三个栏位，其中包括户型图、户型编号、户型说明（面积、楼号、楼层）</p>
      <p>2、房间，House中包含两个栏位，编号，房间说明（木地板面积，水磨石面积）</p>
      <p>3、创建三个页面，用来发布每周的工作回报：1、拆迁进度报告；2、安全文明施工检查报告；3、微民宿建设周报</p>

    <h4>工作中遇到的问题：</h4>
      <p>统计木地板面积</p>
      <p>统计两种地暖型号总使用量</p>
      <p>统计两种燃气灶总使用量</p>
      <p>统计电器型号、尺寸</p>
      <p>每周的周汇报：拆迁汇报、安全文明施工汇报、工程进度汇报</p>
      <p>...</p>

    <h4>面对问题的思考：</h4>
      <p>当我把以上工作逐一做完之后，发现一些问题，比如，我要联系好几个干系人去汇总这些信息，以及去统计最终要使用具体数量；</p>
      <p>比如说，统计木地板，我需要跟室内设计师索要室内地铺图，然后打开软件逐个户型去量面积，然后在根据户型的个数统计总数； </p>
      <p>在这个统计期间由于设计进度问题，1#4#楼的地铺图在我统计期间并没有确定下来，所有，但是统计出来的数据并不准确，但是采购合同需要一个准确的数字；</p>
      <p>再比如说统计不同地面使用的不同地暖的面积，虽然这个统计工作是供货商提供的，但是沟通过程中的理解偏差，导致统计工作重复进行了四五次；</p>
      <p>所以，为了避免失误的反复出现，有必要寻找一个方法或者工具去解决这个问题，降低决策失误的概率。</p>
      <p>每个人的施工场景不同，对数据的处理则是不同的，但是，最基本的数据又是相同的，比如说，每个房子的面积设计完之后是不变的（也有可能微调）;</p>
      <p>避免错误，提高工作效率，编写成程序解决</p>
      <p>我们对图纸不熟悉就会导致决策的失误，但这种统计会由于设计变更，以及自己的马虎而出错。
    一对多，一个户型有多个房间</p>
      <p>每个户型的配套设施一样，电器、暖气、地板等，所以，然后根据每个户型拥有的房间数进行综合统计。</p>
  </div>
</div>
