<div class="col-md-12">
  <h1>JJD三期建设.信息管理系统</h1>
  <p>1、户型，HouseType中包含三个栏位，其中包括户型图、户型编号、户型说明（面积、楼号、楼层）</p>
  <p>2、房间，House中包含两个栏位，编号，房间说明（木地板面积，水磨石面积）</p>
  <h3>工作中遇到的问题：</h3>
  <p>统计木地板面积</p>
  <p>统计两种地暖型号总使用量</p>
  <p>统计两种燃气灶总使用量</p>
  <p>统计电器型号、尺寸</p>
  <p>...</p>
  <p>当我把以上工作逐一做完之后，发现一些问题，比如，我要联系好几个干系人去汇总这些信息，以及去统计最终要使用具体数量；</p>
  <p>比如说，统计木地板，我需要跟室内设计师索要室内地铺图，然后打开软件逐个户型去量面积，然后在根据户型的个数统计总数； </p>
  <p>在这个统计期间由于设计进度问题，1#4#楼的地铺图在我统计期间并没有确定下来，所有，但是统计出来的数据并不准确，但是采购合同需要一个准确的数字；</p>
  <p>再比如说统计不同地面使用的不同地暖的面积，虽然这个统计工作是供货商提供的，但是沟通过程中的理解偏差，导致统计工作重复进行了四五次；</p>
  <p>所以，为了避免失误的反复出现，有必要寻找一个方法或者工具去解决这个问题，降低决策失误的概率。</p>
  <p>每个人的施工场景不同，对数据的处理则是不同的，但是，最基本的数据又是相同的，比如说，每个房子的面积设计完之后是不变的（也有可能微调）;</p>
  <p>避免错误，提高工作效率，编写成程序解决</p>
  <p>我们对图纸不熟悉就会导致决策的失误，但这种统计会由于设计变更，以及自己的马虎而出错。
一对多，一个户型有多个房间</p>
  <p>每个户型的配套设施一样，电器、暖气、地板等，所以，然后根据每个户型拥有的房间数进行综合统计。</p>
</div>
