<div class="col-md-12">
  <p>微民宿三期项目共7个户型：A1、A2、A3、B1、B2、B3、C1，共计38个房间。</p>

  <% @categories.each do |category| %>
    <div class="index_row clearfix">
      <h2 class="todo_list_title"><%= category.id %>:<%= link_to(category.name, category_path(category)) %></h2>
      <p class="todo_list_sub_title"><%= category.description %></p>
    </div>
  <% end %>
  <div class="links">
    <%= link_to("New HouseType", new_category_path, class: "btn btn-primary pull-right")%>
  </div>
</div>
